/* W3C Custom Radio */

.radio_container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	font-size: 1em;
	margin-right: 21px;
	transition: .1s ease;
}

/* Hide the browser's default radio button */
.radio_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
	border: 2px solid #D7D6D7;
}

/* On mouse-over, add a grey background color */
.radio_container:hover input ~ .checkmark_container {
  background-color: #fff;
  border-color: var(--azul);
}

/* When the radio button is checked, add a blue background */
.radio_container input:checked ~ .checkmark_container {
  background-color: var(--azul);
  border-color: var(--azul);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark_container:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_container input:checked ~ .checkmark_container:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_container .checkmark_container:after {
 	top: 5px;
	left: 5px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: white;
}
