/* Cabeçalho */

.cabecalho {
	width: 100%;
	align-items: center;
	height: 68px;
	background: var(--azul);
	padding: 0 21px;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 3;
	box-shadow: 0 8px 13px -3px rgba(0,0,0,.08);
}
	.logo_side {
		align-items: center;
	}
		.irpf_logo {
			height: 40px;
			color: #fff;
			filter: invert(100);
		}
		.logo_side span {
			color: #fff;
			font-weight: 900;
			font-size: 1em;
			margin-left: 13px;
		}

	.profile_side {
		align-items: center;
	}

		.profile_button {
			width: 42px;
			height: 42px;
			background: url('../img/defaultprofile.jpg');
			background-position: center;
			background-size: cover;
			font-size: 0;
			border-radius: 100%;
			border: 2px solid #fff;
			cursor: pointer;
		}

@media (max-width: 576px) {
	.cabecalho {
		height: 55px;
	}
	.irpf_logo {
		height: 34px;
		color: #fff;
		filter: invert(100);
	}
	.profile_side {
		margin-right: -21px;
	}
}

/* Home/Page container */

.page_container {
	flex-direction: column;
	padding: 55px;
}

	.dft_par {
		font-family: Poppins, sans-serif;
		font-size: .9em;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.btn_group {
		align-items: center;
	}

	.btn {
		height: 40px;
		padding: 0 21px;
		align-items: center;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		background: none;
	}
		.btn:hover * {
			color: var(--blc-2);
			text-decoration: underline;
		}

		.btn small {
			color: var(--azul);
			font-family: Poppins, sans-serif;
			font-size: .8em;
			font-style: normal;
			font-weight: 500;
		}

		.btn span {
			color: var(--azul);
			margin-left: 13px;
		}

			.btn_fill {
				background: var(--azul);
			}
				.btn_fill * {
					color: #fff!important;
				}

				.btn_fill:hover {
					background: #fff;
					box-shadow: 0 13px 21px -5px rgba(0,0,0,.08);
				}
					.btn_fill:hover *{
						color: var(--azul)!important;
						text-decoration: none!important;
					}

@media (max-width: 576px) {

	.page_container {
		padding: 21px;
	}

	.btn_group {
		flex-direction: column;
	}
		.btn_group button, .btn_group a {
			width: 100%;
			justify-content: space-between;
		}
		.btn_group button:nth-child(2), .btn_group a:nth-child(2) {
			margin-top: 13px;
		}

}

/* sections */

.section_title {
	font-family: Poppins;
	font-size: 1.6em;
	font-style: normal;
	font-weight: 500;
}

	.section_title_redux {
		font-size: 1em;
	}